fronthead

{
font-family:Arial;

font-weight:bold;

font-size:18px;

}


blueitalic

{

font-family:Arial;

font-weight:bold;

font-size:16px;

font-style:italic;

/*vertical-align:bottom;*/

color:blue;

}


parahead

{

font-family:Arial;

font-weight:bold;

font-size:12px;

vertical-align:top;

line-height:1;

column-span: all;

}


paratext

{

font-family:Arial;

font-size:12px;

vertical-align:top;

line-height:1.5;

width:100px;

height:180px;

}



paralink

{

font-family:Arial;

font-size:12px;

vertical-align:top;

line-height:1.5;

}

H3.sidebar
{

font-family:Arial;

font-size:12px;

text-align:center;

font-weight:bold;

text-decoration:underline;
}


sidebarlink

{

font-family:Arial;

font-size:10px;
}